In [17]:
import re
import pdfplumber
import pandas as pd
from collections import namedtuple

In [153]:
#pip install pdfplumber

In [154]:
#Line = namedtuple('Line',['v','m'])

In [2]:
Line = namedtuple('Line', 'college_code college_name branch_code branch_name status_category open_percentile')

In [3]:
college_re = re.compile(r'^(\d{4})\s-\s(.*)')

In [12]:
college_re.search('1002 - Government College of Engineering, Amravati').group(1)

'1002'

In [13]:
college_re.search('1002 - Government College of Engineering, Amravati').group(2)

'Government College of Engineering, Amravati'

In [14]:
branch_re = re.compile(r'(\d{9})\s-\s(.*)')

In [15]:
branch_re.search('100219110 - Civil Engineering').group(2)

'Civil Engineering'

In [16]:
status_re = re.compile(r'Status:\s(.*)')

In [17]:
status_re.search('Status: Government Autonomous').group(1)

'Government Autonomous'

In [18]:
open_percentile_re = re.compile(r'\(([0-9]*)\.([0-9]*)\)')

In [19]:
open_percentile_re.search('(85.7691222)')

In [20]:
college1 = Line('1002','Government College of Engineering, Amravati','100219110','Civil Engineering','Government Autonomous','(85.7691222)')

In [21]:
college1.open_percentile

'(85.7691222)'

In [22]:
file = 'mhtcet.pdf'

In [23]:
file

'mhtcet.pdf'

In [ ]:
lines = []

with pdfplumber.open(file) as pdf:
    pages = pdf.pages
    for page in pdf.pages:
        text = page.extract_text()
        for line in text.split('\n'):
            clg = college_re.search(line)
            branch = branch_re.search(line)
            status = status_re.search(line)
            open_percent = open_percentile_re.search(line)
            if clg:
                college_id, college_name = clg.group(1), clg.group(2)
            elif branch:
                branch_id, branch_name = branch.group(1), branch.group(2)
            elif status:
                status_category = status.group(1)
            elif open_percent:
                open_percentile = open_percent.group(1)+'.'+open_percent.group(2)
                lines.append(Line(college_id, college_name, branch_id, branch_name, status_category, open_percentile))

In [ ]:
clg

In [ ]:
text

In [ ]:
lines[:5]

In [ ]:
df = pd.DataFrame(lines)

In [ ]:
df.head()

In [ ]:
df.to_csv('mhtcet.csv',index=False)

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('mhtcet.csv')

In [4]:
df.head()

,college_code,college_name,branch_code,branch_name,status_category,open_percentile
0,1002,"Government College of Engineering, Amravati",100219110,Civil Engineering,Government Autonomous,85.769122
1,1002,"Government College of Engineering, Amravati",100224210,Computer Science and Engineering,Government Autonomous,96.832857
2,1002,"Government College of Engineering, Amravati",100224610,Information Technology,Government Autonomous,95.395102
3,1002,"Government College of Engineering, Amravati",100229310,Electrical Engineering,Government Autonomous,87.943896
4,1002,"Government College of Engineering, Amravati",100237210,Electronics and Telecommunication Engg,Government Autonomous,92.204245

In [8]:
df['college_name'].nunique()

329

In [25]:
rey = re.compile(r'(VidyaNiketan)(.*)')

In [26]:
rey.search('VidyaNiketan College Of Engineering').group(1)

'VidyaNiketan'

In [38]:
len(df[df['college_name'].str.count(r'(Vid)(.*)')>0])

382

In [37]:
k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5279 entries, 0 to 5278
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      object
 1   1       0 non-null      object
dtypes: object(2)
memory usage: 82.6+ KB